BRISA-BACKEND/src/main/resources/application.properties
BRISA-BACKEND/src/main/resources/application.properties
*.properties
BRISA-BACKEND/src/main/resources/application.properties
BRISA-BACKEND/src/main/resources/application.properties
